{% extends "base.html" %}
{% block conteudo %}
{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
                <div class="row">
                    <form role="form" action='.' method='POST' enctype='multipart/form-data'> 
                        <div class="box-body">
                            <div>
                                <br>
                                {% csrf_token %}
                                {{form.as_p}}
                            </div>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-md-6"><input type="submit" value="Salvar" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                                <div class="col-xs-12 col-md-6"><a href="/administracao/imagems" class="btn btn-success btn-block btn-lg">Cancelar</a></div>
                            </div>
                        </div>
                    </form>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Titulo</th>
                            <th>Açoes</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for imagem in imagens %}
                            <tr>
                                <td>{{imagem.id}}</td>
                                <td>{{imagem.titulo}}</td>
                                <td>{{imagem.categoria}}</td>
                                <td>
                                    <a href="/excluir_imagem_teste/{{imagem.dono.id}}/{{imagem.id}}" class='glyphicon glyphicon-trash' title="excluir"></a>
                                    <a href="/visualizar_imagem_teste/{{imagem.dono.id}}/{{imagem.id}}" class='glyphicon glyphicon-search' title="visualizar"></a>
                                </td>
                            </tr>    
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>
        {% include "footer.html" %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock conteudo %}