{% extends "base.html" %}
{% block conteudo %}
{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
                <div class="row">
                    <form role="form" action='.' method='POST' enctype='multipart/form-data'> 
                        <div class="box-body">
                            <div>
                                <br>
                                {% csrf_token %}
                                {{form.as_p}}
                            </div>
                            <hr class="colorgraph">
                            <div class="row">
                                <div class="col-xs-12 col-md-6"><input type="submit" value="Salvar" class="btn btn-primary btn-block btn-lg" tabindex="7"></div>
                                <div class="col-xs-12 col-md-6"><a href="/administracao/testes" class="btn btn-success btn-block btn-lg">Cancelar</a></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>
        {% include "footer.html" %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock conteudo %}