{% extends "base.html" %}
{% block conteudo %}
{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
                <div class="row">
                    {{imagem.titulo}}
                    <img src="/media/{{imagem.imagem}}">
                </div>
            </div>

            </div>
        </div>
    </div>
    <!-- /.container -->

    <div class="container">

        <hr>
        {% include "footer.html" %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock conteudo %}