{% extends "base.html" %}
{% block conteudo %}
{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="container">
                        <h2>Lista de Testes Ativos</h2>
                        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Titulo</th>
                                    <th>Email</th>
                                    <th>Açoes</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for teste in testes %}
                                    <tr>
                                        <td>{{teste.id}}</td>
                                        <td>{{teste.titulo}}</td>
                                        <td>{{teste.categoria}}</td>
                                        <td>
                                            <a href="/editar_teste/{{teste.id}}" class='glyphicon glyphicon-pencil' title="editar"></a>
                                            <a href="#" class='glyphicon glyphicon-trash' title="excluir"></a>
                                            <a href="/carregar_imagem_teste/{{teste.id}}" class='glyphicon glyphicon-picture' title="adicionar imagem"></a>
                                            <a href="#" class='glyphicon glyphicon-search' title="visualizar"></a>
                                        </td>
                                    </tr>    
                                {% endfor %}
                            </tbody>
                        </table>
                        <a href="/criar_teste" class="btn btn-success">novo teste</a>
                    </div><!-- /.container -->
                </div>
            </div>
        </div><!-- /.container -->

    <div class="container">

        <hr>
        {% include "footer.html" %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock conteudo %}