{% extends "base.html" %}
{% block conteudo %}
{% block nav %}
    {% include "nav.html" %}
{% endblock nav %}

    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-9">
                <div class="row">
                    <div class="container">
                        <h2>Basic Table</h2>
                        <p>The .table class adds basic styling (light padding and only horizontal dividers) to a table:</p>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nome</th>
                                    <th>Email</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for usuario in usuarios %}
                                    <tr>
                                        <td>{{usuario.id}}</td>
                                        <td>{{usuario.username}}</td>
                                        <td>{{usuario.email}}</td>
                                    </tr>    
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    <!-- /.container -->

    <div class="container">

        <hr>
        {% include "footer.html" %}
    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
{% endblock conteudo %}