<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>LinkMidia Testes Online</title>

    <!-- Custom CSS -->
    <link href="/static/css/shop-homepage.css" rel="stylesheet">

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body style="background-color:#c1d2e1;">

{% block conteudo %}
    <ul class="socialaccount_providers">
        {% load socialaccount %}

        {% get_providers as socialaccount_providers %}

        {% for provider in socialaccount_providers %}
        {% if provider.id == "openid" %}
        {% for brand in provider.get_brands %}
        <li>
          <a title="{{brand.name}}" 
             class="socialaccount_provider {{provider.id}} {{brand.id}}" 
             href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
             >{{brand.name}}</a>
        </li>
        {% endfor %}
        {% endif %}
        <li>
          <a title="{{provider.name}}" class="socialaccount_provider {{provider.id}}" 
             href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">{{provider.name}}</a>
    </li>
{% endfor %}

    </ul>
{% endblock conteudo %}

</body>

</html>