<!-- Navigation -->
<nav  style="background-color:#3b5998;"  class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/"> <div class="lgo"> </div> </a>

            {% if request.user.name %}
                
                <div class="logn"> 

                    <div class="fgtii"> 
                        <img src="/static/images/mini.jpg">
                    </div>

                    <div style="margin-left:10px;" class="ghname">
                        <span class="ligd"><strong>{{request.user.first_name}} {{request.user.last_name}}</strong> 
                            /
                            <a style="color:#FFF;" href="/accounts/logout/"> Sair </a>
                        </span>
                    </div>
                </div>
            {% endif %}
        </div>  
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li>
                    <a style="color:#FFF;" href="#">Privacidade</a>
                </li>
                <li>
                    <a style="color:#FFF;" href="#">Termos de uso</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
<!-- /.container -->
</nav>